@import "xmodule/xbase/_normalize";
@import "xmodule/xsprite/_sprite.css";
$mainBlue: #2f5572;
$mainOrange: #d59541;
@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $mainOrange;
}

.container {
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	&--narrow{
		max-width:470px;
	}
	&-noPaddingUntilMedium {
		padding-left: 0;
		padding-right: 0;
		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}

.containerWrapper {
	padding: .2rem 0;
	@mixin atMedium {
		padding: 2.5rem 0;
	}
	&-medium {
		max-width: 976px;
		margin-left: auto;
		margin-right: auto;
	}
	&-bMargin {
		margin-bottom: 1rem;
		@mixin atSmall {
			margin-bottom: 3.875rem;
		}
	}
}

.headline {
	& {
		font-weight: 300;
		font-size: 1.9rem;
		color: $mainBlue;
		@mixin atSmall {
			font-size: 2.875rem;
		}
	}
	&-centered {
		text-align: center;
	}
	&-oranged {
		color: $mainOrange;
	}
	&-small {
		font-size: 1.2rem;
		@mixin atSmall {
			font-size: 1.875rem;
		}
	}
	&-narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	&-light {
		font-weight: 100;
	}
	&-bMarginLarge {
		margin-bottom: 1.6em;
	}
	&-bMarginSmall {
		margin-bottom: .5em;
	}
	&-no-tmargin {
		margin-top: 0;
	}
}

.btn {
	background-color: $mainBlue;
	color: #FFF;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;
	&-orange {
		background-color: $mainOrange;
	}
	&-large {
		padding: 1.1rem 1.9rem;
		@mixin atSmall {
			font-size: 1.25rem;
		}
	}
}

.MainSection {
	border-bottom: 10px solid $mainBlue;
	position: relative;
	&Back {
		&_image {
			display: block;
		}
	}
	&Content {
		padding-top: 88px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
		@mixin atMedium{
			padding-top: 60px;
		}
		&_title {
			font-weight: 300;
			color: $mainBlue;
			margin: 0;
			font-size: 2.4rem;
			@mixin atSmall {
				font-size: 4.8rem;
			}
		}
		&_subtitle {
			font-weight: 300;
			color: $mainBlue;
			font-size: 1.5rem;
			margin: 0;
			@mixin atSmall {
				font-size: 2.9rem;
			}
		}
		&_description {
			color: #FFF;
			font-size: 1.1rem;
			font-weight: 100;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
			max-width: 30rem;
			margin-left: auto;
			margin-right: auto;
			@mixin atSmall {
				font-size: 1.875rem;
			}
		}
	}
}

.row {
	@mixin clearfix;
	&-gutters {
		margin-right: -65px;
		&-large {
			margin-right: -100px;
		}
		&-small {
			margin-right: -45px;
		}
	}
	&-Tpadding {
		padding-top: 80px;
	}
	&-gutters>div {
		padding-right: 65px;
	}
	&-gutters-large>div {
		padding-right: 100px;
	}
	&-gutters-small>div {
		padding-right: 45px;
	}
	&_m4-BmarginUntilMedium {
		margin-bottom: 1rem;
	}
	@mixin atMedium {
		&_m4 {
			float: left;
			width: 33.33%;
			&-larger {
				width: 37%;
			}
			&-BmarginUntilMedium {
				margin-bottom: 0;
			}
		}
		&_m8 {
			float: left;
			width: 66.66%;
			&-smaller {
				width: 63%;
			}
		}
		&_m6 {
			float: left;
			width: 50%;
		}
	}
	/*Begin Equal Height Rules*/
.flexbox &-equalHight-m {
		@mixin atMedium {
			display: flex;
		}
		&>div {
			float: none;
			display: flex;
		}
	}
}

.genericContent {
	p {
		font-weight: 300;
		line-height: 1.65;
		margin: 0 0 1.8rem 0;
		@mixin atSmall {
			font-size: 1.25rem;
		}
	}
	p a {
		font-weight: 700;
	}
}

.FeatureSectionContent {
	color: white;
	background: $mainBlue;
	&_title {
		font-size: 2.55rem;
		font-weight: 300;
		text-align: center;
		&-blue {
			color: $mainBlue;
		}
		&_icon {
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: .6rem;
			@mixin atSmall {
				position: relative;
				top: 8px;
				margin-right: .5rem;
				margin-left: 0;
				margin-bottom: 0;
				display: inline-block;
			}
		}
		strong {
			font-weight: 500;
		}
		@mixin atSmall {
			font-size: 3.75rem;
		}
	}
}

.FeatureItem {
	position: relative;
	padding-bottom: 2.5rem;
	@mixin atSmall {
		padding-left: 94px;
	}
	&_icon {
		display: block;
		margin: 0 auto;
		@mixin atSmall {
			position: absolute;
			left: 0;
		}
	}
	&_title {
		font-size: 1.6rem;
		font-weight: 300;
		margin-bottom: .8rem;
		margin-top: .7em;
		text-align: center;
		@mixin atSmall {
			text-align: left;
			margin-top: 1em;
			font-size: 1.875rem;
		}
	}
}

.Testimonials {
	padding: 1.2rem 0;
	background-color: #e0e6ef;
	@mixin atMedium {
		padding: 4.5rem 0;
		&.lazyloaded{
			background: url('../images/testimonials-bg.jpg') top center no-repeat;
			background-size: cover;
		}
	}
	&_NoBMarginUntilMedium {
		padding-bottom: 0;
		@mixin atMedium {
			padding-bottom: 4.5rem;
		}
	}
	&Content {
		background-color: rgba(255, 255, 255, .8);
		padding: 0 18px 1px 18px;
		margin-bottom: 98px;
		@mixin atMedium {
			margin-bottom: 0;
			padding: 0 1.8125rem 1px 1.825rem;
		}
		&_last {
			margin-bottom: 0;
		}
		&_image {
			border-radius: 80px;
			overflow: hidden;
			width: 160px;
			height: 160px;
			margin: 0 auto -80px auto;
			position: relative;
			top: -80px;
			border: 6px solid rgba(255, 255, 255, .8);
		}
		&_title {
			color: $mainBlue;
			text-align: center;
			font-size: 1.5rem;
			font-weight: 500;
			margin: 0;
		}
		&_subTitle {
			color: $mainOrange;
			text-align: center;
			font-weight: 400;
			font-size: 0.9375rem;
			margin: .25rem 0 1rem 0;
		}
	}
}

.footerClass {
	background: $mainBlue;
	color: #fff;
	padding: .5rem 0;
	text-align: center;
	font-weight: 200;
	&_text {
		display: block;
		margin-bottom: 1rem;
		@mixin atMedium {
			display: inline;
			margin-bottom: 0;
			margin-right: 1.4rem;
		}
	}
}

.headerClass {
	position: absolute;
	z-index: 2;
	width: 100%;
	display: inline-block;
	padding: 10px 0;

	@mixin atMedium{
		background-color: rgba($mainBlue, .3);
		position: fixed;
	}
	&-expanded{
		transition:background-color .3s ease-out;
		background-color: rgba($mainBlue, .55);
	}
	&_logo{
		top:0;
		position: absolute;
		background-color: $mainBlue;
		padding: 25px 36px;
		left: 50%;
		transform:translateX(-50%) scale(.8);
		transition: transform .3s ease-out;
		transform-origin: 50% 0%;


		@mixin atMedium{
			left: auto;
			transform:translateX(0);
			.stickBlue &{
				transform: scale(.57);
			}
		}
	}
}

.headerClass_btn {
	margin-top:-10px;
	@mixin atMedium{
		float: right;
		margin-top:0;
	}
}

.primaryNav {
	display: inline-block;
	text-decoration: none;
	margin-top: 0;
	@mixin atMedium{
			margin-top: 0;
	}
	&.pullRight {
		@mixin atMedium{
				float: right;
		}
		ul {
			margin: 0;
			padding: 0;
			@mixin clearfix;
		}
		li {
			display: inline-block;
			list-style: none;
			display: inline-block;
			padding-right: 7px;
			padding-top: 12px;
			@mixin atMedium{
				 	padding-right: 20px;
					float: left;
					display: block;
			}
		}
		li:last-child{
			padding-right: 0;
			@mixin atMedium{
			 padding-right: 20px;
			}
		}
		a{
			color: #fff;
			text-decoration: none;
			font-weight: 300;
			padding: 5px 8px;
			font-size: .8rem;
			background-color: rgba($mainBlue, .5);
			@mixin atMedium{
				padding: 12px 0;
				font-size: 1rem;
				background-color: transparent;
			}
		}
	}
}

.displayBlock{
	display: block;
}

.logoSub{
text-indent: -9999px;
}

.siteMenu{
	transform: scale(1.2);
	transition: all .3s ease-out;
	position: relative;
	z-index: -10;
	opacity:0;
	padding-top: 100px;
	text-align: center;
	@mixin atMedium{
		opacity:1;
		z-index: 1;
		padding-top: 0;
		transform: scale(1);
	}
}

.menuIcon{
	width: 20px;
	height: 19px;
	position: absolute;
	top:10px;
	right: 10px;
	z-index: 10;
	&::before{
		content: "";
		position: absolute;
		top:0;
		left:0;
		width: 20px;
		height: 3px;
		background-color: #fff;
		transform-origin:0 0;
		transition: transform .3s ease-out;
	}
	&_middle{
		position: absolute;
		top:8px;
		left:0;
		width: 20px;
		height: 3px;
		background-color: #fff;
		transition: all .3s ease-out;
		transform-origin:0 50%;
	}
	&::after{
		content: "";
		position: absolute;
		bottom:0;
		left:0;
		width: 20px;
		height: 3px;
		background-color: #fff;
		transform-origin:0 100%;
		transition: transform .3s ease-out;
	}

	@mixin atMedium{
		display: none;
	}

}

.navigtion-visible{
	opacity:1;
	z-index: 1;
	transform: scale(1);
}
.cross{
	&::before{
		transform:rotate(45deg) scaleX(1.25);
	}
	.menuIcon_middle{
		opacity:0;
		transform: scaleX(0);
	}
	&::after{
		transform:rotate(-45deg) scaleX(1.25) translateY(1px);
	}

}

.reveal{
	opacity:0;
	transform: scale(1.15);
	transition: all 1.5s ease-out;
	&_show{
		opacity:1;
		transform: scale(1);
	}
}
.stickBlue{
	@mixin atMedium{
		background-color: rgba(23,51,72,.85);
	}
}

.dockColor{
	@mixin atMedium{
		color:#fabb69 !important;
	}
}
.modal{
	position: fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color: rgba(255,255,255,.94);
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	transform: scale(1.2);
	transition: all .3s ease-out;
	&_visible{
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
	&_description{
		text-align:center;
		font-size:1.3rem;
		line-height: 1.65;
	}
	&_close{
		position: absolute;
		top:15px;
		right:15px;
		font-size:2rem;
		transform: scaleX(1.2);
		transform-origin: 100% 0;
		color:$mainBlue;
		cursor:pointer;
		&:hover{
			color:$mainOrange;
		}
	}
	&_inner{
		position: absolute;
		width: 100%;
		top:50%;
		transform: translateY(-50%);
	}
}

.lessTitle{
	margin-bottom: 0.5rem;
	margin-top: 0;
}

.social-icons{
	text-align: center;
	&_icon{
		display: inline-block;
		position: relative;
		width: 33%;
		height: 72px;
		margin: 0 5px 5px 5px;

		background-color: $mainOrange;
		@mixin atSmall{
			width: 72px;
			margin: 0 5px;
		}
		.icon{
			position: absolute;
			display: block;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
		}
	}
}
